
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table,th,td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#search").click(function () {
                var data = {
                    "sc.OrderID": parseInt($("#OrderID").val()),
                    "sc.CustomerID": parseInt($('#CustomerID').val()),
                    "sc.EmployeeID": parseInt($("#EmployeeID").val()),
                    "sc.ShipperID": parseInt($("#ShipperID").val()),
                    "sc.OrderDate": $("#OrderDate").val(),
                    "sc.RequiredDate": $("#RequiredDate").val()
                };
                console.log(data);
                $.post("search", data, function(res) {
                    console.log(res);
                    showResult(res);
                }, "json");
            })
        });
        function showResult(data){
            $("#result").empty();
            console.log(data.length);
            if (data.length == 0)
            {
                $("#result").append("查無相關訂單");
                return;
            }
            var result = "";
            var colName = Object.getOwnPropertyNames(data[0]);
            result += "<table><tr>";
            $.each(colName, function (i, value) {
                result += "<th>" + value + "</th>";
            });
            result += "<th>操作</th>";
            result += "</tr>";
            $.each(data, function (i, value1) {
                result += "<tr>";
                $.each(value1, function (j, value2) {
                    result += "<td>" + value2 + "</td>";
                });
                result += "<td><button>修改</button><button>刪除</button></td>";
                result += "</tr>";
            });
            $("#result").append(result);
        }
    </script>
</head>
<body>
    <h2>查詢訂單</h2>
    <table>
        <tr>
            <td>訂單編號</td>
            <td><input type="text" id="OrderID" /></td>
        </tr>
        <tr>
            <td>客戶名稱</td>
            <td>
                <select id="CustomerID">
                    <option>未選取</option>
                    @foreach (var customer in ViewBag.customers)
                    {
                        <option value="@customer.CustomerID">@customer.CompanyName</option>  
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>負責員工</td>
            <td>
                <select id="EmployeeID">
                    <option>未選取</option>
                    @foreach (var employee in ViewBag.employees)
                    {
                        <option value="@employee.EmployeeID">@employee.FirstName @employee.LastName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>出貨公司</td>
            <td>
                <select id="ShipperID">
                    <option>未選取</option>
                    @foreach (var shipper in ViewBag.shippers)
                    {
                        <option value="@shipper.ShipperID">@shipper.CompanyName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>訂購日期</td>
            <td><input type="date" id="OrderDate" /></td>
        </tr>
        <tr>
            <td>需要日期</td>
            <td><input type="date" id="RequiredDate" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="查詢" id="search"/></td>
        </tr>
    </table>
    <div id="result">
       
    </div>
</body>
</html>
